.nav__bar {
  padding: 20px;
}
.nav__item {
  display: flex;
  font-size: larger;
  font-weight: 400;
  justify-content: space-between;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.nav__title {
  font-weight: bolder;
  font-size: 22px !important;
  font-family: "Ubuntu", sans-serif;
}
.nav__item:hover {
  background-color: rgb(177, 177, 177);
  border-radius: 999px;
  color: black !important;
}

.MuiButton-root {
  border-radius: 999px !important;
  color: white !important;
  border: 2px solid rgb(255, 255, 255) !important;
  text-transform: inherit !important;
}
.MuiButton-root:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #000 !important;
}
