.projects__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  padding: 50px;
}
.projects__header {
  text-align: center;
  color: white;
  padding: 40px;
  font-family: "Ubuntu", sans-serif;
}
.projects {
  background-color: rgb(43, 42, 42);
}
.project__item {
  padding: 50px !important;
}
