.skills__card {
  object-fit: contain;
  align-items: center;
  width: 33.33%;
}
.skills {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
}
.skills__header {
  text-align: center;
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
}
